Tabela Clientes

In [0]:
spark.sql("USE CATALOG trabalho_etl_bd3")
spark.sql("USE SCHEMA bronze")

df_clientes = spark.read.table("trabalho_etl_bd3.bronze.clientes")

df_clientes.show(5)

+----------+--------------------+---+-----------------+---------+----+------------+-------------+
|id_cliente|                nome| uf|           cidade|      cep|sexo|faixa_etaria|data_cadastro|
+----------+--------------------+---+-----------------+---------+----+------------+-------------+
|      C000|        otávio silva| RJ|         da Cunha|49167-377|   F|       18-25|   2009-10-20|
|      C001|        Bruna Aragão| ES|           Duarte| 85544678|   F|       18-25|   1997-03-25|
|      C002|     Alícia Oliveira| PE|  da Paz da Serra|43114-559|   F|       18-25|   2002-02-21|
|      C003|luiz fernando da ...| PB|           Castro|65883-297|   F|       36-45|   2000-08-28|
|      C004|      ISABELLA PINTO| AM|Martins de Farias|28100-185|   M|       18-25|   1977-11-02|
+----------+--------------------+---+-----------------+---------+----+------------+-------------+
only showing top 5 rows

In [0]:
from pyspark.sql.functions import col, regexp_replace, trim, initcap, when, length, lower,to_timestamp, date_format, coalesce, expr

In [0]:
df_clientes = (
    df_clientes
    .withColumn("nome", regexp_replace(col("nome"), r"(?i)^\s*(sr|sra|srta|dr|dra|prof|profa)\.?\s+", ""))
    .withColumn("nome", regexp_replace(col("nome"), r"\s+", " "))
    .withColumn("nome", trim(col("nome")))
    .withColumn("nome", initcap(col("nome")))
)

df_clientes.show(50)

+----------+--------------------+---+--------------------+---------+----+------------+-------------+
|id_cliente|                nome| uf|              cidade|      cep|sexo|faixa_etaria|data_cadastro|
+----------+--------------------+---+--------------------+---------+----+------------+-------------+
|      C000|        Otávio Silva| RJ|            da Cunha|49167-377|   F|       18-25|   2009-10-20|
|      C001|        Bruna Aragão| ES|              Duarte| 85544678|   F|       18-25|   1997-03-25|
|      C002|     Alícia Oliveira| PE|     da Paz da Serra|43114-559|   F|       18-25|   2002-02-21|
|      C003|Luiz Fernando Da ...| PB|              Castro|65883-297|   F|       36-45|   2000-08-28|
|      C004|      Isabella Pinto| AM|   Martins de Farias|28100-185|   M|       18-25|   1977-11-02|
|      C005|      Thiago Da Mota| RR|              Aragão| 78984038|   M|       26-35|   1987-05-07|
|      C006|        Alexia Nunes| GO|   da Cunha da Prata|54181-146|   F|       18-25|   2018-05-17|
|      C007|    Ana Laura Castro| TO|    da Cruz Paulista| 05924713|   M|       18-25|   2021-09-05|
|      C008|      Olivia Costela| PA|        Aragão Verde| 01241732|   F|       36_45|   1985-03-25|
|      C009|    Davi Lucca Nunes| MS|    Rezende do Galho|01045-151|   F|       36-45|   1981-02-22|
|      C010|       Manuela Nunes| RN|              Fogaça| 78808114|   M|       36_45|   1992-08-23|
|      C011|  Ana Sophia Almeida| AP|               Rocha| 06737496|   F|       26-35|   1994-07-26|
|      C012|     Carolina Barros| RO|             Correia|44998-676|   F|       18-25|   1975-02-28|
|      C013|      Augusto Santos| DF|     Viana do Amparo|57038-250|   M|       26-35|   2000-09-18|
|      C014|     Ana Lívia Pinto| SP|    Rezende de Gomes|59855-806|   M|       46-60|   1993-12-11|
|      C015|       Evelyn Moraes| RO|              Moraes|74051-613|   F|       36-45|   1971-06-30|
|      C016|       Nicole Novaes| AM|      Silveira Verde| 53930352|   M|       36-45|   04/06/1987|
|      C017|      Clara Teixeira| RO|     Farias de Moura| 31900136|   M|       26-35|   2009-07-12|
|      C018|    Emanuel Oliveira| RJ|       Aragão Grande| 62785341|   M|       36-45|   2020-10-27|
|      C019|   Nicole Cavalcanti| DF|   Novaes de Peixoto|28746-583|   F|       36-45|   2006-01-07|
|      C020|       Mirella Pires| MT|      Rocha da Serra| 14079141|   M|       26-35|   2023-09-11|
|      C021|      Gabriela Rocha| MA|   Teixeira de Costa| 14621126|   F|       26-35|   1994-10-06|
|      C022|       Eduardo Nunes| TO|  Barbosa das Pedras|17646-873|   F|       46-60|   2016-01-23|
|      C023| Ana Beatriz Azevedo| MA|     Novaes da Serra| 72494397|   F|       26-35|   1979-02-01|
|      C024| Enzo Gabriel Araújo| PA|    Costela do Norte| 86636794|   F|       26-35|   1983-07-20|
|      C025|       Sabrina Souza| AM|       Rocha da Mata| 39741829|   M|       36-45|   2003-10-11|
|      C026|João Guilherme Viana| PI|  Fernandes da Praia|97686-648|   F|       46-60|   1996-02-11|
|      C027|     Alana Das Neves| MA|       Dias do Norte| 06680695|   F|       26-35|   2003-11-23|
|      C028|       Vitor Azevedo| RS|            Teixeira| 57881739|   M|       46-60|   1996-04-27|
|      C029|  Ana Laura Da Rocha| AL|     Novaes Paulista|32769-920|   M|       18-25|   1972-12-25|
|      C030|  Vitor Hugo Rezende| PR|               Souza| 27717728|NULL|       26-35|   2019-04-28|
|      C031|      Luna Rodrigues| PR|        Cunha Alegre|72273-989|   M|       46-60|   2016-12-24|
|      C032|   Manuela Gonçalves| DF| Silveira de Costela| 79235996|   M|       46-60|   2011-05-10|
|      C033|         Clara Nunes| MS|             da Rosa|78550-764|   F|       46-60|   1991-12-18|
|      C034|     Bruno Fernandes| RJ|   da Cunha do Norte|25520-544|   F|       18-25|   2021-06-01|
|      C035|      Arthur Da Cruz| ES|   Martins de Goiás | 28986930|   M|       36-45|   1999-10-31|
|      C036|      Gustavo Campos| SE|               Pinto| 08397635|   F|       18-25|   2014-09-27|
|      C037|        Marina Cunha| RO|              Barros| 50777772|   F|       46-60|   2021-03-11|
|      C038|      Olivia Da Cruz| RJ|da Conceição de N...|86593-606|   M|       46-60|   2006-12-07|
|      C039|João Guilherme Porto| GO|            da Rocha|01887-145|   M|       36-45|   1975-04-10|
|      C040|      Bárbara Santos| SC|               Pinto|81930-438|   M|       18-25|   2021-12-08|
|      C041|Gustavo Henrique ...| PB|               Costa|89326-871|   F|       26-35|   1980-12-02|
|      C042|     Lara Nascimento| PE|        da Conceição|77216-814|   M|       36_45|   2011-10-20|
|      C043| Luiz Felipe Da Rosa| RR|    Cardoso do Campo| 58495867|   M|       18-25|   2019-04-17|
|      C044|      Clarice Araújo| MA|            Nogueira|29471-277|   F|       46-60|   1993-05-21|
|      C045|      Ryan Rodrigues| SP|              Castro| 91833230|   M|       18-25|   1996-09-06|
|      C046|Maria Eduarda Per...| RN|    da Cruz do Campo| 93667313|   F|       36-45|   2008-11-09|
|      C047|    Clara Cavalcanti| MA|  Silveira de Campos|00601-955|   M|       18-25|   2007-08-18|
|      C048| Ana Vitória Ribeiro| RR|      Rocha da Praia|63576-612|   M|       18-25|   1983-03-29|
|      C049|      Sofia Monteiro| PB|            Caldeira| 27873664|   M|       46-60|   1987-03-14|
+----------+--------------------+---+--------------------+---------+----+------------+-------------+
only showing top 50 rows

In [0]:
df_clientes = (
    df_clientes
    .withColumn("cep", col("cep").cast("string"))                 
    .withColumn("cep", regexp_replace(col("cep"), r"\D", ""))     
    .withColumn(
        "cep",
        when(length(col("cep")) == 8,
             
             regexp_replace(col("cep"), r"(\d{5})(\d{3})", "$1-$2")
        ).otherwise(col("cep"))
    )
)

df_clientes.show(5)

+----------+--------------------+---+-----------------+---------+----+------------+-------------+
|id_cliente|                nome| uf|           cidade|      cep|sexo|faixa_etaria|data_cadastro|
+----------+--------------------+---+-----------------+---------+----+------------+-------------+
|      C000|        Otávio Silva| RJ|         da Cunha|49167-377|   F|       18-25|   2009-10-20|
|      C001|        Bruna Aragão| ES|           Duarte|85544-678|   F|       18-25|   1997-03-25|
|      C002|     Alícia Oliveira| PE|  da Paz da Serra|43114-559|   F|       18-25|   2002-02-21|
|      C003|Luiz Fernando Da ...| PB|           Castro|65883-297|   F|       36-45|   2000-08-28|
|      C004|      Isabella Pinto| AM|Martins de Farias|28100-185|   M|       18-25|   1977-11-02|
+----------+--------------------+---+-----------------+---------+----+------------+-------------+
only showing top 5 rows

In [0]:
df_clientes = (
    df_clientes
    .withColumn("faixa_etaria", regexp_replace(col("faixa_etaria"), "_", "-"))
    .withColumn("faixa_etaria", lower(col("faixa_etaria")))
)

df_clientes.show(5)

+----------+--------------------+---+-----------------+---------+----+------------+-------------+
|id_cliente|                nome| uf|           cidade|      cep|sexo|faixa_etaria|data_cadastro|
+----------+--------------------+---+-----------------+---------+----+------------+-------------+
|      C000|        Otávio Silva| RJ|         da Cunha|49167-377|   F|       18-25|   2009-10-20|
|      C001|        Bruna Aragão| ES|           Duarte|85544-678|   F|       18-25|   1997-03-25|
|      C002|     Alícia Oliveira| PE|  da Paz da Serra|43114-559|   F|       18-25|   2002-02-21|
|      C003|Luiz Fernando Da ...| PB|           Castro|65883-297|   F|       36-45|   2000-08-28|
|      C004|      Isabella Pinto| AM|Martins de Farias|28100-185|   M|       18-25|   1977-11-02|
+----------+--------------------+---+-----------------+---------+----+------------+-------------+
only showing top 5 rows

In [0]:
from pyspark.sql.functions import col, when, trim, lower

# if "sexo" not in df_clientes.columns:
#     raise ValueError(f"Coluna 'sexo' não existe. Colunas: {df_clientes.columns}")

df_clientes = (
    df_clientes
    .withColumn("sexo", lower(trim(col("sexo"))))
    .withColumn(
        "sexo",
        when(col("sexo").isin("f", "fem", "feminino"), "Feminino")
        .when(col("sexo").isin("m", "masc", "masculino"), "Masculino")
        .when((col("sexo") == "") | col("sexo").isNull(), "Não informado")
        .otherwise(col("sexo"))
    )
)

df_clientes.show(31)

+----------+--------------------+---+------------------+---------+-------------+------------+-------------+
|id_cliente|                nome| uf|            cidade|      cep|         sexo|faixa_etaria|data_cadastro|
+----------+--------------------+---+------------------+---------+-------------+------------+-------------+
|      C000|        Otávio Silva| RJ|          da Cunha|49167-377|     Feminino|       18-25|   2009-10-20|
|      C001|        Bruna Aragão| ES|            Duarte|85544-678|     Feminino|       18-25|   1997-03-25|
|      C002|     Alícia Oliveira| PE|   da Paz da Serra|43114-559|     Feminino|       18-25|   2002-02-21|
|      C003|Luiz Fernando Da ...| PB|            Castro|65883-297|     Feminino|       36-45|   2000-08-28|
|      C004|      Isabella Pinto| AM| Martins de Farias|28100-185|    Masculino|       18-25|   1977-11-02|
|      C005|      Thiago Da Mota| RR|            Aragão|78984-038|    Masculino|       26-35|   1987-05-07|
|      C006|        Alexia Nunes| GO| da Cunha da Prata|54181-146|     Feminino|       18-25|   2018-05-17|
|      C007|    Ana Laura Castro| TO|  da Cruz Paulista|05924-713|    Masculino|       18-25|   2021-09-05|
|      C008|      Olivia Costela| PA|      Aragão Verde|01241-732|     Feminino|       36-45|   1985-03-25|
|      C009|    Davi Lucca Nunes| MS|  Rezende do Galho|01045-151|     Feminino|       36-45|   1981-02-22|
|      C010|       Manuela Nunes| RN|            Fogaça|78808-114|    Masculino|       36-45|   1992-08-23|
|      C011|  Ana Sophia Almeida| AP|             Rocha|06737-496|     Feminino|       26-35|   1994-07-26|
|      C012|     Carolina Barros| RO|           Correia|44998-676|     Feminino|       18-25|   1975-02-28|
|      C013|      Augusto Santos| DF|   Viana do Amparo|57038-250|    Masculino|       26-35|   2000-09-18|
|      C014|     Ana Lívia Pinto| SP|  Rezende de Gomes|59855-806|    Masculino|       46-60|   1993-12-11|
|      C015|       Evelyn Moraes| RO|            Moraes|74051-613|     Feminino|       36-45|   1971-06-30|
|      C016|       Nicole Novaes| AM|    Silveira Verde|53930-352|    Masculino|       36-45|   04/06/1987|
|      C017|      Clara Teixeira| RO|   Farias de Moura|31900-136|    Masculino|       26-35|   2009-07-12|
|      C018|    Emanuel Oliveira| RJ|     Aragão Grande|62785-341|    Masculino|       36-45|   2020-10-27|
|      C019|   Nicole Cavalcanti| DF| Novaes de Peixoto|28746-583|     Feminino|       36-45|   2006-01-07|
|      C020|       Mirella Pires| MT|    Rocha da Serra|14079-141|    Masculino|       26-35|   2023-09-11|
|      C021|      Gabriela Rocha| MA| Teixeira de Costa|14621-126|     Feminino|       26-35|   1994-10-06|
|      C022|       Eduardo Nunes| TO|Barbosa das Pedras|17646-873|     Feminino|       46-60|   2016-01-23|
|      C023| Ana Beatriz Azevedo| MA|   Novaes da Serra|72494-397|     Feminino|       26-35|   1979-02-01|
|      C024| Enzo Gabriel Araújo| PA|  Costela do Norte|86636-794|     Feminino|       26-35|   1983-07-20|
|      C025|       Sabrina Souza| AM|     Rocha da Mata|39741-829|    Masculino|       36-45|   2003-10-11|
|      C026|João Guilherme Viana| PI|Fernandes da Praia|97686-648|     Feminino|       46-60|   1996-02-11|
|      C027|     Alana Das Neves| MA|     Dias do Norte|06680-695|     Feminino|       26-35|   2003-11-23|
|      C028|       Vitor Azevedo| RS|          Teixeira|57881-739|    Masculino|       46-60|   1996-04-27|
|      C029|  Ana Laura Da Rocha| AL|   Novaes Paulista|32769-920|    Masculino|       18-25|   1972-12-25|
|      C030|  Vitor Hugo Rezende| PR|             Souza|27717-728|Não informado|       26-35|   2019-04-28|
+----------+--------------------+---+------------------+---------+-------------+------------+-------------+
only showing top 31 rows

Tabela Entregas

In [0]:
df_entregas = spark.read.table("trabalho_etl_bd3.bronze.entregas")

df_entregas.show(5)

+---------+------------------+-----+-------------------+-----------------+-------------+
|id_pedido|parceiro_logistico|modal|janela_prevista_min|tempo_entrega_min|atrasado_flag|
+---------+------------------+-----+-------------------+-----------------+-------------+
|     1101|             Loggi| bike|                 20|               38|            1|
|     1027|             Loggi| bike|                 20|               14|            0|
|     1052|             Rappi|carro|                 25|               42|            1|
|     1080|             Rappi| bike|                 15|               34|            1|
|     1078|           Interno| bike|                 15|               20|            1|
+---------+------------------+-----+-------------------+-----------------+-------------+
only showing top 5 rows

In [0]:
df_entregas = df_entregas.withColumn(
    "parceiro_logistico",
    when(
        (col("parceiro_logistico").isNull()) | (trim(col("parceiro_logistico")) == ""),
        "nao informado"
    ).otherwise(trim(col("parceiro_logistico")))
)

df_entregas.show(15)

+---------+------------------+-----+-------------------+-----------------+-------------+
|id_pedido|parceiro_logistico|modal|janela_prevista_min|tempo_entrega_min|atrasado_flag|
+---------+------------------+-----+-------------------+-----------------+-------------+
|     1101|             Loggi| bike|                 20|               38|            1|
|     1027|             Loggi| bike|                 20|               14|            0|
|     1052|             Rappi|carro|                 25|               42|            1|
|     1080|             Rappi| bike|                 15|               34|            1|
|     1078|           Interno| bike|                 15|               20|            1|
|     1114|             Rappi|carro|                 15|               28|            1|
|     1037|             Loggi|carro|                 20|               40|            1|
|     1106|             Flash|drone|                 20|               14|            0|
|     1086|           Interno| bike|                 25|               18|            0|
|     1066|           Interno|carro|                 30|               40|            1|
|     1022|             Loggi|carro|                 20|               -5|            0|
|     1027|             Loggi| moto|                 25|               26|            1|
|     1097|     nao informado|carro|                 20|               23|            1|
|     1053|             Loggi|carro|                 25|               25|            0|
|     1011|             Flash| moto|                 25|               37|            1|
+---------+------------------+-----+-------------------+-----------------+-------------+
only showing top 15 rows

In [0]:
df_entregas = df_entregas.filter(
    (col("janela_prevista_min") > 0) &
    (col("tempo_entrega_min") > 0)
)

df_entregas.show(15)

+---------+------------------+-----+-------------------+-----------------+-------------+
|id_pedido|parceiro_logistico|modal|janela_prevista_min|tempo_entrega_min|atrasado_flag|
+---------+------------------+-----+-------------------+-----------------+-------------+
|     1101|             Loggi| bike|                 20|               38|            1|
|     1027|             Loggi| bike|                 20|               14|            0|
|     1052|             Rappi|carro|                 25|               42|            1|
|     1080|             Rappi| bike|                 15|               34|            1|
|     1078|           Interno| bike|                 15|               20|            1|
|     1114|             Rappi|carro|                 15|               28|            1|
|     1037|             Loggi|carro|                 20|               40|            1|
|     1106|             Flash|drone|                 20|               14|            0|
|     1086|           Interno| bike|                 25|               18|            0|
|     1066|           Interno|carro|                 30|               40|            1|
|     1027|             Loggi| moto|                 25|               26|            1|
|     1097|     nao informado|carro|                 20|               23|            1|
|     1053|             Loggi|carro|                 25|               25|            0|
|     1011|             Flash| moto|                 25|               37|            1|
|     1049|           Interno|carro|                 30|               36|            1|
+---------+------------------+-----+-------------------+-----------------+-------------+
only showing top 15 rows

In [0]:
df_entregas = df_entregas.withColumn(
    "atrasado_flag",
    when(lower(trim(col("atrasado_flag"))) == "yes", "teve atraso")
    .when(col("atrasado_flag") == 1, "teve atraso")
    .when(col("atrasado_flag") == 0, "não teve atraso")
    .otherwise("não teve atraso")  # padrão de segurança
)

df_entregas.show(5)

+---------+------------------+-----+-------------------+-----------------+---------------+
|id_pedido|parceiro_logistico|modal|janela_prevista_min|tempo_entrega_min|  atrasado_flag|
+---------+------------------+-----+-------------------+-----------------+---------------+
|     1101|             Loggi| bike|                 20|               38|    teve atraso|
|     1027|             Loggi| bike|                 20|               14|não teve atraso|
|     1052|             Rappi|carro|                 25|               42|    teve atraso|
|     1080|             Rappi| bike|                 15|               34|    teve atraso|
|     1078|           Interno| bike|                 15|               20|    teve atraso|
+---------+------------------+-----+-------------------+-----------------+---------------+
only showing top 5 rows

Tabela Pedidos

In [0]:
df_pedidos = spark.read.table("trabalho_etl_bd3.bronze.pedidos")

df_pedidos.show(5)

+---------+----------+----------------+-----------+---------+----------+-----------------+--------------+
|id_pedido|id_cliente|     data_pedido|valor_total|qtd_itens|usou_cupom|tempo_preparo_min|nota_avaliacao|
+---------+----------+----------------+-----------+---------+----------+-----------------+--------------+
|     1001|         1|09/06/2025 17:10|     157.06|        2|         1|               15|             3|
|     1002|        38|2025-06-07T12:36|     -19.87|        5|         1|               15|             3|
|     1003|        39|2025-06-04T09:13|     150.89|        5|         0|               25|             5|
|     1004|         9|2025-09-27T18:48|     114.36|        4|         1|               20|             5|
|     1005|        27|2025-07-21T06:37|      29.27|        6|         1|               35|             5|
+---------+----------+----------------+-----------+---------+----------+-----------------+--------------+
only showing top 5 rows

In [0]:
df_pedidos = df_pedidos.filter(col("valor_total").cast("double") > 0)
df_pedidos.show(5)

+---------+----------+----------------+-----------+---------+----------+-----------------+--------------+
|id_pedido|id_cliente|     data_pedido|valor_total|qtd_itens|usou_cupom|tempo_preparo_min|nota_avaliacao|
+---------+----------+----------------+-----------+---------+----------+-----------------+--------------+
|     1001|         1|09/06/2025 17:10|     157.06|        2|         1|               15|             3|
|     1003|        39|2025-06-04T09:13|     150.89|        5|         0|               25|             5|
|     1004|         9|2025-09-27T18:48|     114.36|        4|         1|               20|             5|
|     1005|        27|2025-07-21T06:37|      29.27|        6|         1|               35|             5|
|     1006|        32|2025-06-25T11:10|      54.21|        6|         0|               15|             3|
+---------+----------+----------------+-----------+---------+----------+-----------------+--------------+
only showing top 5 rows

In [0]:
df_pedidos = df_pedidos.withColumn(
    "usou_cupom",
    when(lower(trim(col("usou_cupom"))).isin("0", "false", "f", "nao", "não"), "nao utilizou")
    .when(lower(trim(col("usou_cupom"))).isin("1", "true", "t", "sim", "yes"), "utilizou")
    .otherwise("nao utilizou")
)
df_pedidos.show(5)

+---------+----------+----------------+-----------+---------+------------+-----------------+--------------+
|id_pedido|id_cliente|     data_pedido|valor_total|qtd_itens|  usou_cupom|tempo_preparo_min|nota_avaliacao|
+---------+----------+----------------+-----------+---------+------------+-----------------+--------------+
|     1001|         1|09/06/2025 17:10|     157.06|        2|    utilizou|               15|             3|
|     1003|        39|2025-06-04T09:13|     150.89|        5|nao utilizou|               25|             5|
|     1004|         9|2025-09-27T18:48|     114.36|        4|    utilizou|               20|             5|
|     1005|        27|2025-07-21T06:37|      29.27|        6|    utilizou|               35|             5|
|     1006|        32|2025-06-25T11:10|      54.21|        6|nao utilizou|               15|             3|
+---------+----------+----------------+-----------+---------+------------+-----------------+--------------+
only showing top 5 rows

In [0]:
df_pedidos = df_pedidos.filter(col("tempo_preparo_min").cast("int") > 0)
df_pedidos.show(15)

+---------+----------+----------------+-----------+---------+------------+-----------------+--------------+
|id_pedido|id_cliente|     data_pedido|valor_total|qtd_itens|  usou_cupom|tempo_preparo_min|nota_avaliacao|
+---------+----------+----------------+-----------+---------+------------+-----------------+--------------+
|     1001|         1|09/06/2025 17:10|     157.06|        2|    utilizou|               15|             3|
|     1003|        39|2025-06-04T09:13|     150.89|        5|nao utilizou|               25|             5|
|     1004|         9|2025-09-27T18:48|     114.36|        4|    utilizou|               20|             5|
|     1005|        27|2025-07-21T06:37|      29.27|        6|    utilizou|               35|             5|
|     1006|        32|2025-06-25T11:10|      54.21|        6|nao utilizou|               15|             3|
|     1007|        25|2025-09-11T22:15|     177.72|        1|    utilizou|               30|             5|
|     1008|        34|2025-09-10T00:43|     170.96|        5|    utilizou|               15|             3|
|     1009|        13|2025-09-05T12:54|     134.32|        1|    utilizou|               25|          NULL|
|     1010|         6|2025-08-25T03:52|     123.36|        3|    utilizou|               15|             5|
|     1011|        24|2025-08-08T03:57|     100.85|        3|nao utilizou|               25|          NULL|
|     1013|        26|2025-06-19T22:51|       91.9|        3|    utilizou|               25|             5|
|     1014|         6|2025-07-30T18:40|      28.33|        2|    utilizou|               30|          NULL|
|     1015|        13|2025-09-01T15:18|      93.76|        6|    utilizou|               25|             5|
|     1016|        28|2025-08-17T11:21|     102.24|        5|    utilizou|               20|             5|
|     1017|        18|2025-09-20T01:29|     141.81|        6|    utilizou|               30|             3|
+---------+----------+----------------+-----------+---------+------------+-----------------+--------------+
only showing top 15 rows

In [0]:
df_pedidos = df_pedidos.withColumn(
    "nota_avaliacao",
    when(col("nota_avaliacao").isNull() | (trim(col("nota_avaliacao")) == ""), "nao informado")
    .otherwise(col("nota_avaliacao"))
)
df_pedidos.show(15)

+---------+----------+----------------+-----------+---------+------------+-----------------+--------------+
|id_pedido|id_cliente|     data_pedido|valor_total|qtd_itens|  usou_cupom|tempo_preparo_min|nota_avaliacao|
+---------+----------+----------------+-----------+---------+------------+-----------------+--------------+
|     1001|         1|09/06/2025 17:10|     157.06|        2|    utilizou|               15|             3|
|     1003|        39|2025-06-04T09:13|     150.89|        5|nao utilizou|               25|             5|
|     1004|         9|2025-09-27T18:48|     114.36|        4|    utilizou|               20|             5|
|     1005|        27|2025-07-21T06:37|      29.27|        6|    utilizou|               35|             5|
|     1006|        32|2025-06-25T11:10|      54.21|        6|nao utilizou|               15|             3|
|     1007|        25|2025-09-11T22:15|     177.72|        1|    utilizou|               30|             5|
|     1008|        34|2025-09-10T00:43|     170.96|        5|    utilizou|               15|             3|
|     1009|        13|2025-09-05T12:54|     134.32|        1|    utilizou|               25| nao informado|
|     1010|         6|2025-08-25T03:52|     123.36|        3|    utilizou|               15|             5|
|     1011|        24|2025-08-08T03:57|     100.85|        3|nao utilizou|               25| nao informado|
|     1013|        26|2025-06-19T22:51|       91.9|        3|    utilizou|               25|             5|
|     1014|         6|2025-07-30T18:40|      28.33|        2|    utilizou|               30| nao informado|
|     1015|        13|2025-09-01T15:18|      93.76|        6|    utilizou|               25|             5|
|     1016|        28|2025-08-17T11:21|     102.24|        5|    utilizou|               20|             5|
|     1017|        18|2025-09-20T01:29|     141.81|        6|    utilizou|               30|             3|
+---------+----------+----------------+-----------+---------+------------+-----------------+--------------+
only showing top 15 rows

In [0]:
from pyspark.sql.functions import col, regexp_replace, trim, coalesce, date_format, expr

df_pedidos = df_pedidos.withColumn(
    "data_pedido_norm",
    trim(
        regexp_replace(
            regexp_replace(col("data_pedido").cast("string"), "T", " "),
            "/", "-"
        )
    )
)

df_pedidos = df_pedidos.withColumn(
    "data_pedido_ts",
    coalesce(
        expr("try_to_timestamp(data_pedido_norm, 'dd-MM-yyyy HH:mm')"),
        expr("try_to_timestamp(data_pedido_norm, 'yyyy-MM-dd HH:mm')"),
        expr("try_to_timestamp(data_pedido_norm, 'yyyy-MM-dd HH:mm:ss')"),
        expr("try_to_timestamp(data_pedido_norm, 'dd-MM-yyyy HH:mm:ss')")
    )
)

df_pedidos = (
    df_pedidos
    .withColumn("data_pedido", date_format(col("data_pedido_ts"), "yyyy-MM-dd HH:mm"))
    .drop("data_pedido_norm", "data_pedido_ts")
)

# 4️⃣ conferir resultado
df_pedidos.show(10)

+---------+----------+----------------+-----------+---------+------------+-----------------+--------------+
|id_pedido|id_cliente|     data_pedido|valor_total|qtd_itens|  usou_cupom|tempo_preparo_min|nota_avaliacao|
+---------+----------+----------------+-----------+---------+------------+-----------------+--------------+
|     1001|         1|2025-06-09 17:10|     157.06|        2|    utilizou|               15|             3|
|     1003|        39|2025-06-04 09:13|     150.89|        5|nao utilizou|               25|             5|
|     1004|         9|2025-09-27 18:48|     114.36|        4|    utilizou|               20|             5|
|     1005|        27|2025-07-21 06:37|      29.27|        6|    utilizou|               35|             5|
|     1006|        32|2025-06-25 11:10|      54.21|        6|nao utilizou|               15|             3|
|     1007|        25|2025-09-11 22:15|     177.72|        1|    utilizou|               30|             5|
|     1008|        34|2025-09-10 00:43|     170.96|        5|    utilizou|               15|             3|
|     1009|        13|2025-09-05 12:54|     134.32|        1|    utilizou|               25| nao informado|
|     1010|         6|2025-08-25 03:52|     123.36|        3|    utilizou|               15|             5|
|     1011|        24|2025-08-08 03:57|     100.85|        3|nao utilizou|               25| nao informado|
+---------+----------+----------------+-----------+---------+------------+-----------------+--------------+
only showing top 10 rows

In [0]:
df_clientes.filter(df_clientes.uf.isNull()).show()

+----------+----+---+------+---+----+------------+-------------+
|id_cliente|nome| uf|cidade|cep|sexo|faixa_etaria|data_cadastro|
+----------+----+---+------+---+----+------------+-------------+
+----------+----+---+------+---+----+------------+-------------+

In [0]:
spark.sql("CREATE SCHEMA IF NOT EXISTS trabalho_etl_bd3.silver")
spark.sql("USE SCHEMA silver")

df_clientes.write.format("delta").mode("overwrite")\
    .saveAsTable("trabalho_etl_bd3.silver.clientes")

df_pedidos.write.format("delta").mode("overwrite")\
    .saveAsTable("trabalho_etl_bd3.silver.pedidos")

df_entregas.write.format("delta").mode("overwrite")\
    .saveAsTable("trabalho_etl_bd3.silver.entregas")